/* ==========================================================================
   reset all
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display & box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* other */
    background-color: #d7d7d7;
    width: 100vw;
    height: 100vh;
}


/* ==========================================================================
   elements
   ========================================================================== */

header {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    /* other */
    background-color: #fff;
    border-bottom: 2px solid #000;
}

main {
    /* display & box model */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.card {
    /* display & box model */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    height: 19.25rem;
    width: 19.25rem;
    /* other */
    background-color: #c5c5c5;
    border-radius: 1rem;
}

.vs-card {
    /* display & box model */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    /* other */
    background-color: #000;
    border-radius: 1rem;
}

.computer-choice,
.player-choice {
    /* display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
}

.player-options {
    /* display & box model */
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.modal-bgr {
    /* display & box model */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* other */
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    /* display & box model */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 24rem;
    height: 24rem;
    /* other */
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    box-shadow: 1rem 1rem #000;
}

.modal-header {
    /* display & box model */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-btns {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.btn,
.modal-btn {
    /* display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* Other */
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn:hover, 
.modal-btn:hover {
    /* other */
    background-color: #efefef;
    /* box-shadow: 0.2rem 0.2rem #000; */
}

.row-space-around {
    /* display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.column-1rem {
    /* display & box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.d-none {
    /* display & box model */
    display: none;
}

/* ==========================================================================
   font
   ========================================================================== */

h1, h2, h3, p {
    font-family: 'Roboto Mono', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

h2 {
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}

a, .btn, .modal-btn {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.bold {
    font-weight: 700;
}


/* font implementation - 'roboto'
   ========================================================================== */

/* bold */
@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto/Roboto-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}


/* regluar */
@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto/Roboto-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}


/* font implementation - 'roboto mono'
   ========================================================================== */

/* bold */
@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/Roboto_Mono/static/RobotoMono-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}


/* regluar */
@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/Roboto_Mono/static/RobotoMono-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}